<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }} - Documentation - TypeRoof</title>
        <meta name="viewport" content="initial-scale=1,shrink-to-fit=no">
        <link rel="stylesheet" href="{{rootPath}}lib/css/shell.css">
    </head>
    <body class="typeroof-docs">
        <div class="wrapper">
            <header>
                <h1>TypeRoof</h1>
            </header>
            <div
             class="typeroof-ui_sidebar">
                <nav>
                    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
                </nav>
                <h3>Applications</h3>
                <ul>
                    <li><a href="{{rootPath}}/shell">TypeRoof Shell</a></li>
                    <li><a href="{{rootPath}}/legacy">TypeRoof Legacy</a></li>
                </ul>
            </div>
            <div class="typeroof-main">
                <div class='typeroof-docs_content'>{{ content | safe }}</div>
            </div>
            <footer>
                <ul>
                    <li><a href="https://github.com/FontBureau/TypeRoof">Source code on GitHub</a></li>
                    <li><a href="https://github.com/FontBureau/TypeRoof/issues">Bug reports &amp; feature&nbsp;requests</a></li>
                </ul>
            </footer>
        </div> <!-- wrapper -->
    </body>
</html>
