[submodule "opentype.js"]
	path = lib/js/vendor/opentype.js
	url = https://github.com/graphicore/opentype.js.git
[submodule "intro.js"]
	path = lib/js/vendor/intro.js
	url = https://github.com/usablica/intro.js
[submodule "diff-match-patch"]
	path = lib/js/vendor/diff-match-patch
	url = https://github.com/google/diff-match-patch.git
[submodule "lib/js/wawoff2"]
	path = lib/js/vendor/wawoff2
	url = https://github.com/graphicore/wawoff2.git
[submodule "lib/js/vendor/fbdemo"]
	path = lib/js/vendor/fbdemo
	url = git@github.com:graphicore/fbdemo.git
	branch = typeroof-lasse
[submodule "lib/js/vendor/culori"]
	path = lib/js/vendor/culori
	url = https://github.com/graphicore/culori
