# TODO: remove this file when we are ready to format all files

# Ignore everything by default
*

# But don't ignore directories (so prettier can traverse them)
!*/

# Ignore all vendor folders
**/vendor/**

# But don't ignore these specific files/patterns
!eslint.config.mjs
!vite.config.js
!README.md
!**/*.ts
!**/*.jsx
!**/*.tsx
!**/*.yaml
!**/*.yml
!**/shell/*.css
!lib/js/**/*.css
!**/ramp/*.*
!**/type-stage/*.*
!lib/js/components/**/videoproof-contextual/*
!lib/js/components/presets.mjs
!lib/js/wikipedia/*
!lib/js/components/document-renderer-mode/*
!lib/js/components/classes-and-styles-manager.mjs
!lib/js/components/environment-provider.mjs
!lib/js/font-info.mjs
!**/*.test.mjs
!lib/js/tests/**/*
!lib/js/components/length-models.mjs
!lib/js/components/type-spec-paths.mjs

# Ignore glyph-groups.yaml
lib/assets/glyph-groups.yaml
