# TODO: remove this file when we are ready to format all files

# Ignore everything by default 
*

# But don't ignore directories (so prettier can traverse them)
!*/

# Ignore all vendor folders
**/vendor/**

# But don't ignore these specific files/patterns
!eslint.config.mjs
!README.md
!**/*.jsx
!**/*.tsx 
!**/*.yaml
!**/*.yml

# Ignore glyph-groups.yaml
lib/assets/glyph-groups.yaml