---json
{
  "permalink": "/docs/states_lib/demos/AVAR-2-blending-gen.json.txt",
  "layout": null
}
---
{
  "activeState": {
    "t": "0",
    "duration": "4",
    "isLoop": "0",
    "perpetual": "0",
    "playing": "0",
    "keyMoments": [
      {
        "label": "Key Moment 1",
        "duration": "1",
        "isActive": "0",
        "autoOPSZ": "0",
        "textColor": {
          "instance": {
            "R": "100.00000",
            "G": "100.00000",
            "B": "100.00000"
          },
          "colorTypeKey": "RGB"
        },
        "stageBackgroundColor": {
          "instance": {
            "R": "0.00000",
            "G": "34.00000",
            "B": "64.00000"
          },
          "colorTypeKey": "RGB"
        }
      }
    ],
    "activeActors": [
      {
        "instance": {
          "isLoop": "0",
          "label": "Variable Text Animation",
          "keyMoments": [

{% for label, axesLocations, duration, isLast, skip in [
          ["Init",  '[["wght", "400"], ["wdth", "100"], ["XOUC","96"],["YOUC","79"],["XTUC","463"],["opsz","14"]]', 0]
        , ["Wait",  '[["XOUC","96"],["YOUC","79"],["XTUC","463"]]', 1]
        , ["XOUC",  '[["XOUC","66"],["YOUC","79"],["XTUC","463"]]', 1]
        , ["YOUC",  '[["XOUC","66"],["YOUC","60"],["XTUC","463"]]', 1]
        , ["XTUC",  '[["XOUC","66"],["YOUC","60"],["XTUC","446"]]', 1]
        , ["Wait",  '[["wght", "400"], ["wdth", "100"], ["XOUC","66"],["YOUC","60"],["XTUC","446"]]', 1]
        , ['User' , '[["wght", "250"], ["wdth",  "33"], ["XOUC","96"],["YOUC","79"],["XTUC","463"]]', 0]
        , ["Final", '[["wght", "250"], ["wdth",  "33"], ["XOUC","96"],["YOUC","79"],["XTUC","463"]]', 2, true]
        ] %}
        {% if not skip %}
            {
              "label": "{{label}}",
              "duration": "{{duration}}",
              "isActive": "0",
              "autoOPSZ": "0",
              "axesLocations": {{axesLocations | safe}}
            }
          {% if not isLast %},
          {% endif %}
        {% endif %}
{% endfor %}

          ],
          "activeActors": [
            {
              "instance": {
                "isLoop": "0",
                "label": "Variable Text",
                "keyMoments": [
                  {
                    "label": "Key Moment 1",
                    "duration": "1",
                    "isActive": "0",
                    "numericProperties": [
                      [
                        "x",
                        "-500"
                      ],
                      [
                        "width",
                        "2280"
                      ],
                      [
                        "y",
                        "250"
                      ]
                    ],
                    "autoOPSZ": "0",
                    "axesLocations": [
                      [
                        "opsz",
                        "14"
                      ]
                    ],
                    "fontSize": "48",
                    "textRun": "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
                    "textAlign": "center"
                  }
                ]
              },
              "actorTypeKey": "LineOfTextActorModel"
            }
          ]
        },
        "actorTypeKey": "LayerActorModel"
      },
{% set textColorInactive = '{"instance": {"R": "77","G": "80","B": "85"}, "colorTypeKey": "RGB"}' %}
{% set textColorActive = '{"instance": {"R": "100","G": "100","B": "100"}, "colorTypeKey": "RGB"}' %}
      {
        "instance": {
          "isLoop": "0",
          "label": "Axes Container",
          "keyMoments": [
            {
              "label": "Key Moment 1",
              "duration": "1",
              "isActive": "1",
              "numericProperties": [
                [
                  "width",
                  "1280"
                ],
                [
                  "height",
                  "230"
                ],
                [
                  "y",
                  "0"
                ],
                [
                  "line-height-em",
                  "1.5"
                ]
              ],
              "autoOPSZ": "1",
              "fontSize": "30",
              "textColor": {{textColorInactive | safe}},
              "positioningVertical": "bottom"
            }
          ],
          "activeActors": [
            {
              "instance": {
                "isLoop": "0",
                "label": "BG Axes",
                "keyMoments": [
                  {
                    "label": "Key Moment 1",
                    "duration": "1",
                    "isActive": "1",
                    "numericProperties": [
                      [
                        "y",
                        "0"
                      ],
                      [
                        "x",
                        "265"
                      ],
                      [
                        "width",
                        "1015"
                      ],
                      [
                        "height",
                        "230"
                      ],
                      [
                        "z-index",
                        "-1"
                      ]
                    ],
                    "fillColor": {
                      "instance": {
                        "R": "12.90000",
                        "G": "27.06000",
                        "B": "40.00000"
                      },
                      "colorTypeKey": "RGB"
                    }
                  }
                ]
              },
              "actorTypeKey": "RectangleActorModel"
            },
            {
              "instance": {
                "isLoop": "0",
                "label": "Horizontal Line",
                "keyMoments": [
                  {
                    "label": "Setup",
                    "duration": "1",
                    "isActive": "1",
                    "numericProperties": [
                      [
                        "width",
                        "1280"
                      ],
                      [
                        "height",
                        "3"
                      ],
                      [
                        "z-index",
                        "-1"
                      ]
                    ],
                    "fillColor": {
                      "instance": {
                        "L": "55.00000",
                        "C": "4.90749",
                        "H": "0.7242320"
                      },
                      "colorTypeKey": "OKLCH"
                    }
                  },
{% set line_1_y = 179 %}
{% set line_2_y = 114 %}
{% set line_3_y = 49 %}
{% for label, numericProperties, duration, isLast, skip in [
          ["Init", '[["y", "-1000"]]', 0, false, false]
        , ["Wait", '[["y", "-1000"]]', 1, false, false]
        , ["line3", '[["y", "' + line_3_y + '"]]', 0, false, false]
        , ["line3", '[["y", "' + line_3_y + '"]]', 3, false, false]
        , ["line1", '[["y", "' + line_1_y + '"]]', 1, false, false]
        , ["line1", '[["y", "' + line_1_y + '"]]', 2, true, false]
        ] %}
        {% if not skip %}
            {
              "label": "{{label}}",
              "duration": "{{duration}}",
              "isActive": "0",
              "numericProperties": {{numericProperties | safe}}
            }
          {% if not isLast %},
          {% endif %}
        {% endif %}
{% endfor %}
                ]
              },
              "actorTypeKey": "RectangleActorModel"
            },
{% set labelBGInactive = '{"instance": {"L": "100.00000","C": "0.00000","H": "0.0000000","alpha": "20.00000"},"colorTypeKey": "OKLCH"}' %}
{% set labelBGActive = '{"instance": {"L": "100.00000","C": "0.00000","H": "0.0000000","alpha": "50.00000"},"colorTypeKey": "OKLCH"}' %}
            {
              "instance": {
                "isLoop": "0",
                "label": "1-Line User Axes",
                "keyMoments": [
                  {
                    "label": "Inactive Init",
                    "duration": "0",
                    "isActive": "1",
                    "numericProperties": [
                      [
                        "y",
                        "150"
                      ]
                    ],
                    "autoOPSZ": "0",
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Inactive Wait",
                    "duration": 5,
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Active",
                    "duration": 0,
                    "textColor": {{textColorActive | safe}}
                  },
                  {
                    "label": "Active Wait",
                    "duration": 2,
                    "textColor": {{textColorActive | safe}}
                  }
                ],
                "activeActors": [
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "User Axes Label",
                      "keyMoments": [
                        {
                          "label": "Inactive Init",
                          "duration": "0",
                          "isActive": "1",
                          "numericProperties": [
                            [
                              "width",
                              "260"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "axesLocations": [
                            [
                              "wght",
                              "700"
                            ]
                          ],
                          "textRun": "  User Axes",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "5",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Active",
                          "duration": "0",
                          "backgroundColor": {{ labelBGActive | safe }}
                        },
                        {
                          "label": "Active Wait",
                          "duration": "2",
                          "backgroundColor": {{ labelBGActive | safe }}
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "User Axes",
                      "keyMoments": [
                        {
                          "label": "Setup",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "x",
                              "260"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "    Size 14    Weight 400    Width 100    Slant 0",
                          "textAlign": "left",
                          "positioningVertical": "bottom"
                        },
                        {
                          "label": "Wait",
                          "duration": "5",
                          "isActive": "0",
                          "autoOPSZ": "0",
                          "textRun": "    Size 14    Weight 400    Width 100    Slant 0"
                        },
                        {
                          "label": "Result",
                          "duration": "0",
                          "isActive": "0",
                          "autoOPSZ": "0",
                          "textRun": "    Size 14    Weight 250    Width 33   Slant 0"
                        },
                        {
                          "label": "Result",
                          "duration": "2",
                          "isActive": "0",
                          "autoOPSZ": "0",
                          "textRun": "    Size 14    Weight 250    Width 33   Slant 0"
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  }
                ]
              },
              "actorTypeKey": "LayerActorModel"
            },
            {
              "instance": {
                "isLoop": "0",
                "label": "2-Line Finessables",
                "keyMoments": [
                  {
                    "label": "Key Moment 1",
                    "duration": "1",
                    "isActive": "1",
                    "numericProperties": [
                      [
                        "y",
                        "85"
                      ]
                    ],
                    "autoOPSZ": "0"
                  }
                ],
                "activeActors": [
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Finessables Label",
                      "keyMoments": [
                        {
                          "label": "Key Moment 1",
                          "duration": "1",
                          "isActive": "1",
                          "numericProperties": [
                            [
                              "width",
                              "260"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "axesLocations": [
                            [
                              "wght",
                              "700"
                            ]
                          ],
                          "backgroundColor": {
                            "instance": {
                              "L": "100.00000",
                              "C": "0.00000",
                              "H": "0.0000000",
                              "alpha": "20.00000"
                            },
                            "colorTypeKey": "OKLCH"
                          },
                          "textRun": "  Finessables"
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Finessables",
                      "keyMoments": [
                        {
                          "label": "Key Moment 1",
                          "duration": "1",
                          "isActive": "1",
                          "numericProperties": [
                            [
                              "width",
                              "1280"
                            ],
                            [
                              "x",
                              "260"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "    Grade    Space    xStem    yStem    Counter",
                          "textAlign": "left",
                          "positioningVertical": "bottom"
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  }
                ]
              },
              "actorTypeKey": "LayerActorModel"
            },
            {
              "instance": {
                "isLoop": "0",
                "label": "3-Line Construction",
                "keyMoments": [
                  {
                    "label": "Init",
                    "duration": "0",
                    "isActive": "1",
                    "numericProperties": [
                      [
                        "y",
                        "20"
                      ]
                    ],
                    "autoOPSZ": "0",
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Init Wait",
                    "duration": "1",
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Active",
                    "duration": "0",
                    "textColor": {{textColorActive | safe}}
                  },
                                    {
                    "label": "Active Wait",
                    "duration": "4",
                    "textColor": {{textColorActive | safe}}
                  },
                  {
                    "label": "Inactive",
                    "duration": "0",
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Inactive Wait",
                    "duration": "2",
                    "textColor": {{textColorInactive | safe}}
                  }
                ],
                "activeActors": [
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Construct Label",
                      "keyMoments": [
                        {
                          "label": "Init",
                          "duration": "0",
                          "isActive": "1",
                          "numericProperties": [
                            [
                              "width",
                              "260"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "axesLocations": [
                            [
                              "wght",
                              "700"
                            ]
                          ],
                          "textRun": "  Construction",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "1",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Active",
                          "duration": "0",
                          "backgroundColor": {{ labelBGActive | safe }}
                        },
                        {
                          "label": "Active Wait",
                          "duration": "4",
                          "backgroundColor": {{ labelBGActive | safe }}
                        },
                        {
                          "label": "Inactive",
                          "duration": "0",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "2",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Construction",
                      "keyMoments": [
                        {
                          "label": "Init",
                          "duration": "1",
                          "isActive": "1",
                          "numericProperties": [
                            [
                              "x",
                              "260"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "    XOUC    YOUC    XTUC    XTUR    XTUD    YTUC    YOPE"
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  }
                ]
              },
              "actorTypeKey": "LayerActorModel"
            },
            {
              "instance": {
                "isLoop": "0",
                "label": "Marker",
                "keyMoments": [
                  {
                    "label": "Setup",
                    "duration": "0",
                    "isActive": "0",
                    "fillColor": {
                      "instance": {
                        "R": "100.00000",
                        "G": "100.00000",
                        "B": "100.00000"
                      },
                      "colorTypeKey": "RGB"
                    }
                  },

{% set line_1_y = 165 %}
{% set line_2_y = 100 %}
{% set line_3_y = 35 %}
{% for label, numericProperties, duration, isLast, skip in [
          ["Init", '[["x", "-1000"], ["y", "' + line_3_y + '"], ["r", "15"]]', 0, false, false]
        , ["Wait", '[["x", "-1000"]]', 1, false, false]
        , ["XOUC", '[["x", "265"]]', 0, false, false]
        , ["XOUC", '[["x", "265"]]', 1, false, false]
        , ["YOUC", '[["x", "397"]]', 0, false, false]
        , ["YOUC", '[["x", "397"]]', 1, false, false]
        , ["XTUC", '[["x", "528"]]', 0, false, false]
        , ["XTUC", '[["x", "528"]]', 1, false, false]
        , ["hide", '[["x", "-1000"]]', 0, false, false]
        , ["hide", '[["x", "-1000"],  ["y", "' + line_3_y + '"]]', 1, false, false]
        , ["user", '[["x",   "265"], ["y", "' + line_1_y + '"]]', 0, false, false]
        , ["user", '[["x",   "265"], ["y", "' + line_1_y + '"]]', 2, true, false]
        ] %}
        {% if not skip %}
            {
              "label": "{{label}}",
              "duration": "{{duration}}",
              "isActive": "0",
              "numericProperties": {{numericProperties | safe}}
            }
          {% if not isLast %},
          {% endif %}
        {% endif %}
{% endfor %}

                ]
              },
              "actorTypeKey": "CircleActorModel"
            }
          ]
        },
        "actorTypeKey": "LayerActorModel"
      }
    ],
    "width": "1280",
    "height": "720",
    "editingActor": "./1/instance/activeActors/3"
  },
  "activeLayoutKey": "StageAndActors",
  "activeFontKey": "from-url Roboto Delta Regular Version_3-000"
}
