---json
{
  "permalink": "{{ page.filePathStem }}",
  "layout": null,
  "durations": {
      "initialPause": 0.5
    , "axis_1": 1.5
    , "axis_2": 1.5
    , "axis_3": 1.5
    , "axis_4": 1.5
    , "transition_1": 0.5
    , "transition_2": 1
  }
}
---
{
  "activeState": {
    "t": "0",
    "duration": "10",
    "isLoop": "0",
    "perpetual": "0",
    "playing": "0",
    "keyMoments": [
      {
        "label": "Init",
        "duration": "0",
        "isActive": "0",
        "autoOPSZ": "0",
        "textColor": {
          "instance": {
            "R": "100.00000",
            "G": "100.00000",
            "B": "100.00000"
          },
          "colorTypeKey": "RGB"
        },
        "stageBackgroundColor": {
          "instance": {
            "R": "0.00000",
            "G": "34.00000",
            "B": "64.00000"
          },
          "colorTypeKey": "RGB"
        }
      }
    ],
    "activeActors": [
      {
        "instance": {
          "isLoop": "0",
          "label": "Variable Text Animation",
          "keyMoments": [

{% for label, axesLocations, duration, isLast, skip in [
          ["Init",  '[["wght", "400"], ["wdth", "100"], ["XOUC","96"],["YOUC","79"],["XTUC","463"],["opsz","14"], ["YOPQ", "79"]]', 0]
        , ["Wait",  '[["XOUC","96"],["YOUC","79"],["XTUC","463"]]', durations.initialPause]
        , ["XOUC",  '[["XOUC","66"],["YOUC","79"],["XTUC","463"]]', durations.axis_1]
        , ["YOUC",  '[["XOUC","66"],["YOUC","60"],["XTUC","463"]]', durations.axis_2]
        , ["XTUC",  '[["XOUC","66"],["YOUC","60"],["XTUC","446"]]', durations.axis_3]
        , ["Wait",  '[["wght", "400"], ["wdth", "100"], ["XOUC","66"],["YOUC","60"],["XTUC","446"]]', durations.transition_1]
        , ['User' , '[["wght", "250"], ["wdth",  "33"], ["XOUC","96"],["YOUC","79"],["XTUC","463"]]', 0]
        , ["User Pause", '[["YOPQ", "79"]]', durations.transition_2]
        , ["Finesse,",   '[["YOPQ", "53"]]', durations.axis_4]
        , ["Final", '[]', 0, true]
        ] %}
        {% if not skip %}
            {
              "label": "{{label}}",
              "duration": "{{duration}}",
              "isActive": "0",
              "autoOPSZ": "0",
              "axesLocations": {{axesLocations | safe}}
            }
          {% if not isLast %},
          {% endif %}
        {% endif %}
{% endfor %}

          ],
          "activeActors": [
            {
              "instance": {
                "isLoop": "0",
                "label": "Variable Text",
                "keyMoments": [
                  {
                    "label": "Init",
                    "duration": "0",
                    "isActive": "0",
                    "numericProperties": [
                      [
                        "x",
                        "-500"
                      ],
                      [
                        "width",
                        "2280"
                      ],
                      [
                        "y",
                        "250"
                      ]
                    ],
                    "autoOPSZ": "0",
                    "axesLocations": [
                      [
                        "opsz",
                        "14"
                      ]
                    ],
                    "fontSize": "48",
                    "textRun": "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
                    "textAlign": "center"
                  }
                ]
              },
              "actorTypeKey": "LineOfTextActorModel"
            }
          ]
        },
        "actorTypeKey": "LayerActorModel"
      },
{% set textColorInactive = '{"instance": {"L": "84.31682", "C": "4.90749", "H": "0.7242320"}, "colorTypeKey": "OKLCH"}' %}
{% set textColorActive = '{"instance": {"L": "100.00000", "C": "0.00000", "H": "0.12000"}, "colorTypeKey": "OKLCH"}' %}
{% set textColorHighlight = '{"instance": {"L": "100.00000", "C": "100.00000", "H": "0.12000"}, "colorTypeKey": "OKLCH"}' %}
      {
        "instance": {
          "isLoop": "0",
          "label": "Axes Container",
          "keyMoments": [
            {
              "label": "Init",
              "duration": "0",
              "isActive": "0",
              "numericProperties": [
                [
                  "width",
                  "1280"
                ],
                [
                  "height",
                  "230"
                ],
                [
                  "y",
                  "0"
                ],
                [
                  "line-height-em",
                  "1.5"
                ]
              ],
              "autoOPSZ": "1",
              "fontSize": "30",
              "textColor": {{textColorInactive | safe}},
              "positioningVertical": "bottom"
            }
          ],
          "activeActors": [
            {
              "instance": {
                "isLoop": "0",
                "label": "BG Axes",
                "keyMoments": [
                  {
                    "label": "Init",
                    "duration": "0",
                    "isActive": "0",
                    "numericProperties": [
                      [
                        "y",
                        "0"
                      ],
                      [
                        "x",
                        "315"
                      ],
                      [
                        "width",
                        "965"
                      ],
                      [
                        "height",
                        "230"
                      ],
                      [
                        "z-index",
                        "-1"
                      ]
                    ],
                    "fillColor": {
                      "instance": {
                        "R": "12.90000",
                        "G": "27.06000",
                        "B": "40.00000"
                      },
                      "colorTypeKey": "RGB"
                    }
                  }
                ]
              },
              "actorTypeKey": "RectangleActorModel"
            },
            {
              "instance": {
                "isLoop": "0",
                "label": "Horizontal Line",
                "keyMoments": [
                  {
                    "label": "Setup",
                    "duration": "0",
                    "isActive": "0",
                    "numericProperties": [
                      [
                        "width",
                        "1280"
                      ],
                      [
                        "height",
                        "3"
                      ],
                      [
                        "z-index",
                        "-1"
                      ]
                    ],
                    "fillColor": {
                      "instance": {
                        "L": "55.00000",
                        "C": "4.90749",
                        "H": "0.7242320"
                      },
                      "colorTypeKey": "OKLCH"
                    }
                  },
{% set line_1_y = 179 %}
{% set line_2_y = 114 %}
{% set line_3_y = 49 %}
{% for label, numericProperties, duration, isLast, skip in [
          ["Init", '[["y", "-1000"]]', 0, false, false]
        , ["Wait", '[["y", "-1000"]]', durations.initialPause, false, false]
        , ["line3", '[["y", "' + line_3_y + '"]]', 0, false, false]
        , ["line3 wait",       '[["y", "' + line_3_y + '"]]', durations.axis_1 + durations.axis_2 + durations.axis_3, false, false]
        , ["line1 transition", '[["y", "' + line_1_y + '"]]', durations.transition_1, false, false]
        , ["line1 wait",       '[["y", "' + line_1_y + '"]]', 0, false, false]
        , ["line2 transition", '[["y", "' + line_2_y + '"]]', durations.transition_2, false, false]
        , ["line2 wait",       '[["y", "' + line_2_y + '"]]', durations.axis_4, true, false]
        ] %}
        {% if not skip %}
            {
              "label": "{{label}}",
              "duration": "{{duration}}",
              "isActive": "0",
              "numericProperties": {{numericProperties | safe}}
            }
          {% if not isLast %},
          {% endif %}
        {% endif %}
{% endfor %}
                ]
              },
              "actorTypeKey": "RectangleActorModel"
            },
{% set labelBGInactive = '{"instance": {"L": "100.00000","C": "0.00000","H": "0.0000000","alpha": "20.00000"},"colorTypeKey": "OKLCH"}' %}
{% set labelBGActive = '{"instance": {"L": "100.00000","C": "0.00000","H": "0.0000000","alpha": "50.00000"},"colorTypeKey": "OKLCH"}' %}
            {
              "instance": {
                "isLoop": "0",
                "label": "1-Line User Axes",
                "keyMoments": [
                  {
                    "label": "Inactive Init",
                    "duration": "0",
                    "isActive": "0",
                    "numericProperties": [
                      [
                        "y",
                        "150"
                      ]
                    ],
                    "autoOPSZ": "0",
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Inactive Wait",
                    "duration": "{{durations.initialPause + durations.axis_1 + durations.axis_2 + durations.axis_3 + durations.transition_1}}",
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Active",
                    "duration": 0,
                    "textColor": {{textColorActive | safe}}
                  },
                  {
                    "label": "Active Wait",
                    "duration": "{{durations.transition_2}}",
                    "textColor": {{textColorActive | safe}}
                  },
                  {
                    "label": "Inactive",
                    "duration": 0,
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Inactive Wait",
                    "duration": "{{durations.axis_4}}",
                    "textColor": {{textColorInactive | safe}}
                  }
                ],
                "activeActors": [
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "User Axes Label",
                      "keyMoments": [
                        {
                          "label": "Inactive Init",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "width",
                              "310"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "axesLocations": [
                            [
                              "wght",
                              "700"
                            ]
                          ],
                          "textRun": "  User Axes",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "{{durations.initialPause + durations.axis_1 + durations.axis_2 + durations.axis_3 + durations.transition_1}}",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Active",
                          "duration": "0",
                          "backgroundColor": {{ labelBGActive | safe }}
                        },
                        {
                          "label": "Active Wait",
                          "duration": "{{durations.transition_2}}",
                          "backgroundColor": {{ labelBGActive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "0",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Inactive wait",
                          "duration": "{{durations.axis_4}}",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "User Axes",
                      "keyMoments": [
                        {
                          "label": "Setup",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "x",
                              "310"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "    Size 14    Weight 400    Width 100    Slant 0",
                          "textAlign": "left",
                          "positioningVertical": "bottom",
                          "textColor": {{textColorInactive | safe}}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "{{ durations.initialPause + durations.axis_1 + durations.axis_2 + durations.axis_3 + durations.transition_1 }}",
                          "isActive": "0",
                          "autoOPSZ": "0",
                          "textRun": "    Size 14    Weight 400    Width 100    Slant 0",
                          "textColor": {{textColorInactive | safe}}
                        },
                        {
                          "label": "Result Active",
                          "duration": "0",
                          "isActive": "0",
                          "autoOPSZ": "0",
                          "textRun": "    Size 14    Weight 250    Width 33   Slant 0",
                          "textColor": {{textColorHighlight | safe}}
                        },
                        {
                          "label": "Highlight",
                          "duration": "{{durations.transition_2}}",
                          "textColor": {{textColorActive | safe}}
                        },
                        {
                          "label": "Inactive",
                          "duration": 0,
                          "textColor": {{textColorInactive | safe}}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": {{durations.axis_4}},
                          "textRun": "    Size 14    Weight 250    Width 33   Slant 0",
                          "textColor": {{textColorInactive | safe}}
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  }
                ]
              },
              "actorTypeKey": "LayerActorModel"
            },
            {
              "instance": {
                "isLoop": "0",
                "label": "2-Line Finessables",
                "keyMoments": [
                  {
                    "label": "Inactive Init",
                    "duration": "0",
                    "isActive": "0",
                    "numericProperties": [
                      [
                        "y",
                        "85"
                      ]
                    ],
                    "autoOPSZ": "0",
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Inactive Wait",
                    "duration": "{{ durations.initialPause + durations.axis_1 + durations.axis_2 + durations.axis_3 + durations.transition_1 + durations.transition_2 }}",
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Active",
                    "duration": 0,
                    "textColor": {{textColorActive | safe}}
                  },
                  {
                    "label": "Active Wait",
                    "duration": "{{durations.axis_4}}",
                    "textColor": {{textColorActive | safe}}
                  }
                ],
                "activeActors": [
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Finessables Label",
                      "keyMoments": [
                        {
                          "label": "Inactive Init",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "width",
                              "310"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "axesLocations": [
                            [
                              "wght",
                              "700"
                            ]
                          ],
                          "textRun": "  Finessables",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "{{ durations.initialPause + durations.axis_1 + durations.axis_2 + durations.axis_3 + durations.transition_1 + durations.transition_2 }}",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Active",
                          "duration": "0",
                          "backgroundColor": {{ labelBGActive | safe }}
                        },
                        {
                          "label": "Active Wait",
                          "duration": "{{durations.axis_4}}",
                          "backgroundColor": {{ labelBGActive | safe }}
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Tag Grade",
                      "keyMoments": [
                        {
                          "label": "Init",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "x",
                              "344"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "Grade"
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Tag Space",
                      "keyMoments": [
                        {
                          "label": "Init",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "x",
                              "477"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "Space"
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Tag xStem",
                      "keyMoments": [
                        {
                          "label": "Init",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "x",
                              "614"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "xStem"
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Tag yStem",
                      "keyMoments": [
                        {
                          "label": "Inactive Init",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "x",
                              "751"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "yStem",
                          "textColor": {{ textColorInactive | safe }}
                        },
                        {
                          "label": "Inactive wait",
                          "duration": "{{ durations.initialPause + durations.axis_1 + durations.axis_2 + durations.axis_3 + durations.transition_1 + durations.transition_2}}",
                          "textColor": {{ textColorInactive | safe }}
                        },
                        {
                          "label": "Active",
                          "duration": "0",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "highlight",
                          "duration": "{{durations.axis_4}}",
                          "textColor": {{ textColorHighlight | safe }}
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Tag Counter",
                      "keyMoments": [
                        {
                          "label": "Init",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "x",
                              "888"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "Counter"
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  }
                ]
              },
              "actorTypeKey": "LayerActorModel"
            },
            {
              "instance": {
                "isLoop": "0",
                "label": "3-Line Constructables",
                "keyMoments": [
                  {
                    "label": "Init",
                    "duration": "0",
                    "isActive": "0",
                    "numericProperties": [
                      [
                        "y",
                        "20"
                      ]
                    ],
                    "autoOPSZ": "0",
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Init Wait",
                    "duration": "{{ durations.initialPause }}",
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Active",
                    "duration": "0",
                    "textColor": {{textColorActive | safe}}
                  },
                                    {
                    "label": "Active Wait",
                    "duration": "{{durations.axis_1 + durations.axis_2 + durations.axis_3 + durations.transition_1}}",
                    "textColor": {{textColorActive | safe}}
                  },
                  {
                    "label": "Inactive",
                    "duration": "0",
                    "textColor": {{textColorInactive | safe}}
                  },
                  {
                    "label": "Inactive Wait",
                    "duration": "{{ durations.transition_2 + durations.axis_4 }}",
                    "textColor": {{textColorInactive | safe}}
                  }
                ],
                "activeActors": [
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Construct Label",
                      "keyMoments": [
                        {
                          "label": "Init",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "width",
                              "310"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "axesLocations": [
                            [
                              "wght",
                              "700"
                            ]
                          ],
                          "textRun": "  Constructables",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "{{ durations.initialPause }}",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Active",
                          "duration": "0",
                          "backgroundColor": {{ labelBGActive | safe }}
                        },
                        {
                          "label": "Active Wait",
                          "duration": "{{ durations.axis_1 + durations.axis_2 + durations.axis_3 + durations.transition_1 }}",
                          "backgroundColor": {{ labelBGActive | safe }}
                        },
                        {
                          "label": "Inactive",
                          "duration": "0",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "{{durations.transition_2 + durations.axis_4}}",
                          "backgroundColor": {{ labelBGInactive | safe }}
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Tag XOUC",
                      "keyMoments": [
                        {
                          "label": "Inactive Init",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "x",
                              "345"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "XOUC",
                          "textColor": {{ textColorInactive | safe }}
                        },
                        {
                          "label": "Inactive wait",
                          "duration": "{{ durations.initialPause }}",
                          "textColor": {{ textColorInactive | safe }}
                        },
                        {
                          "label": "Active",
                          "duration": "0",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "highlight",
                          "duration": "{{ durations.axis_1 }}",
                          "textColor": {{ textColorHighlight | safe }}
                        },
                        {
                          "label": "Inactive",
                          "duration": "0",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "{{ durations.axis_2 + durations.axis_3 + durations.transition_1}}",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "Inactive",
                          "duration": "0",
                          "textColor": {{ textColorInactive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "{{durations.transition_2 + durations.axis_4}}",
                          "textColor": {{ textColorInactive | safe }}
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Tag YOUC",
                      "keyMoments": [
                        {
                          "label": "Inactive Init",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "x",
                              "477"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "YOUC",
                          "textColor": {{ textColorInactive | safe }}
                        },
                        {
                          "label": "Inactive wait",
                          "duration": "{{ durations.initialPause }}",
                          "textColor": {{ textColorInactive | safe }}
                        },
                        {
                          "label": "Active",
                          "duration": "0",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "Active Wait",
                          "duration": "{{ durations.axis_1 }}",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "Highlight",
                          "duration": "{{ durations.axis_2 }}",
                          "textColor": {{ textColorHighlight | safe }}
                        },
                        {
                          "label": "Active",
                          "duration": "0",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "Active Wait",
                          "duration": "{{ durations.axis_3 + durations.transition_1}}",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "Inactive",
                          "duration": "0",
                          "textColor": {{ textColorInactive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "{{ durations.transition_2 + durations.axis_4}}",
                          "textColor": {{ textColorInactive | safe }}
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  },
                  {
                    "instance": {
                      "isLoop": "0",
                      "label": "Tag XTUC",
                      "keyMoments": [
                        {
                          "label": "Key Moment 1",
                          "duration": "0",
                          "isActive": "0",
                          "numericProperties": [
                            [
                              "x",
                              "608"
                            ]
                          ],
                          "autoOPSZ": "0",
                          "textRun": "XTUC",
                          "textColor": {{ textColorInactive | safe }}
                        },
                        {
                          "label": "Inactive wait",
                          "duration": "{{ durations.initialPause }}",
                          "textColor": {{ textColorInactive | safe }}
                        },
                        {
                          "label": "Active",
                          "duration": "0",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "Active Wait",
                          "duration": "{{ durations.axis_1 + durations.axis_2 }}",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "Highlight",
                          "duration": "{{ durations.axis_3 }}",
                          "textColor": {{ textColorHighlight | safe }}
                        },
                        {
                          "label": "Active",
                          "duration": "0",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "Active Wait",
                          "duration": "{{ durations.transition_1 }}",
                          "textColor": {{ textColorActive | safe }}
                        },
                        {
                          "label": "Inactive",
                          "duration": "0",
                          "textColor": {{ textColorInactive | safe }}
                        },
                        {
                          "label": "Inactive Wait",
                          "duration": "{{ durations.transition_2 + durations.axis_4 }}",
                          "textColor": {{ textColorInactive | safe }}
                        }
                      ]
                    },
                    "actorTypeKey": "LineOfTextActorModel"
                  }
                ]
              },
              "actorTypeKey": "LayerActorModel"
            },
            {
              "instance": {
                "isLoop": "0",
                "label": "Marker",
                "keyMoments": [
                  {
                    "label": "Setup",
                    "duration": "0",
                    "isActive": "0",
                    "fillColor": {
                      "instance": {
                        "R": "100.00000",
                        "G": "100.00000",
                        "B": "100.00000"
                      },
                      "colorTypeKey": "RGB"
                    }
                  },

{% set line_1_y = 165 %}
{% set line_2_y = 100 %}
{% set line_3_y = 35 %}
{% for label, numericProperties, duration, isLast, skip in [
          ["Init", '[["x", "-1000"], ["y", "' + line_3_y + '"], ["r", "15"]]', 0]
        , ["Wait", '[["x", "-1000"]]', durations.initialPause]
        , ["XOUC", '[["x", "315"]]', 0]
        , ["XOUC", '[["x", "315"]]', durations.axis_1]
        , ["YOUC", '[["x", "447"]]', 0]
        , ["YOUC", '[["x", "447"]]', durations.axis_2]
        , ["XTUC", '[["x", "578"]]', 0]
        , ["XTUC", '[["x", "578"]]', durations.axis_3]
        , ["wait", '[["x", "578"], ["y", "' + line_3_y + '"]]', durations.transition_1]
        , ["user", '[["x",   "315"], ["y", "' + line_1_y + '"]]', 0]
        , ["user", '[["x",   "315"], ["y", "' + line_1_y + '"]]', durations.transition_2]
        , ["finesse", '[["x",   "719"], ["y", "' + line_2_y + '"]]', 0]
        , ["finesse", '[["x",   "719"], ["y", "' + line_2_y + '"]]', durations.axis_4, true]
        ] %}
        {% if not skip %}
            {
              "label": "{{label}}",
              "duration": "{{duration}}",
              "isActive": "0",
              "numericProperties": {{numericProperties | safe}}
            }
          {% if not isLast %},
          {% endif %}
        {% endif %}
{% endfor %}

                ]
              },
              "actorTypeKey": "CircleActorModel"
            }
          ]
        },
        "actorTypeKey": "LayerActorModel"
      }
    ],
    "width": "1280",
    "height": "720"
  },
  "activeLayoutKey": "StageAndActors",
  "activeFontKey": "from-url Roboto Delta Roman Version_3-000"
}
